    <div class="list-group">
      <a href="<%= cabinets_path %>" class="list-group-item active">Все города</a>
          <% @cities.each do |city| %>
           <a href="<%= cabinets_city_sort_path(city.id) %>" class="list-group-item">
            <span class="badge"><%= city.cabinets_count %></span><%= city.name %></a>
            <% end %>
          </div>



