<% provide(:title, 'Добавление кабинета') %>
<h1>Новый кабинет</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@cabinet) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Добавить кабинет", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
